footer {
    background-color: $lightgrey;
    p {
        color: $text-dark;
    }
    a,
    a:visited {
        text-decoration: none;

        color: $main-colour;
    }

    a:hover {
        text-decoration: underline;
    }
}
