$blue: #266DD3;
$pink: #E83F6F;
$yellow: #FFBF00;
$grey: grey;

$main-colour      : $blue;
$secondary-colour : $yellow;
$accent-colour    : $pink;
$text-dark        : #4A4A4A;
$text-light       : white;

$ultra-light: 200;
$light: 300;
$normal: 400;
$bold: 600;

$success-colour   : #83CC61;
$error-colour     : #DE4242;

$bradius          : 2px;

$side-padding: 2rem;

$s-animation: 0.250s ease-in-out;
